/*
@import url("https://cdnjs.cloudflare.com/ajax/libs/design-system/2.6.2/styles/salesforce-lightning-design-system.min.css");

*/
@import url("https://unpkg.com/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css");
.App {
  display: block;
}
html,
body {
  background: #d1dbe2;
}
.u-mb {
  margin-bottom: 0.5rem;
}
.u-p {
  padding: 0.2rem;
}
.slds-context-bar {
  margin-top: 3.2rem;
}
